.chat_w {
  margin: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.chat_w.recieve {
  justify-content: flex-end;
  align-items: end;
}
.chat {
  position: relative;
  width: fit-content;
  max-width: 70%;
  text-align: left;
  display: inline-flex;
  height: fit-content;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  font-size: 14.2px;
  padding: 10px 16px;
  border-radius: 10px;
  background-color: #f2f2f2;
  color: #595959;
}
.chat:hover .chat__dropDown {
  visibility: visible;
  opacity: 1;
}
.chat__dropDown {
  transition: all 0.3s ease;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  font-size: 20px;
  position: absolute;
  top: 2px;
  right: 5px;
}
.chat__menu {
  background-color: #7d9d9c;
  border-radius: 3px;
  position: absolute;
  z-index: 9;
  top: 25px;
  right: 5px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  color: #595959;
  transition: all 0.3s ease;
  height: 0;
  visibility: hidden;
  opacity: 0;
}
.chat__menu.active {
  visibility: visible;
  opacity: 1;
  height: fit-content;
}
.chat__menu:before {
  content: '';
  position: absolute;
  top: -5px;
  right: 0px;
  border-bottom: solid 10px #7d9d9c;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}
.chat__menu > span {
  cursor: pointer;

  padding: 0.5rem;
}
.chat__menu > span:hover {
  background: #576f72;
}
.chat__dropDown:active {
  opacity: 0.7;
}
.chat .sayap {
  position: absolute;
  top: 0;
  left: -10px;
  height: 0;
  width: 0;
  border-radius-bottom: 100%;
  border-top: solid 20px #f2f2f2;
  border-left: solid 20px transparent;
  border-right: solid 20px transparent;
}
.chat__des {
  width: 60px;
}
.chat__ket {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  right: 5px;
  bottom: 5px;
  font-size: 12px;
}
.chat__centang {
  font-size: 16px;
}
.chat.reciever {
  background-color: #2b9348;
  color: #eee;
}
.chat .sayap-kanan {
  position: absolute;
  top: 0;
  right: -10px;
  height: 0;
  width: 0;
  border-radius-bottom: 100%;
  border-top: solid 20px #2b9348;
  border-left: solid 20px transparent;
  border-right: solid 20px transparent;
}
.username {
  width: fit-content;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  padding: 0;
  margin-bottom: 0.3rem;
}
